@if (voltarTopo)
{
	<div id="jsFloatButton">
		<a href="#topo" class="voltarTopo" title="Voltar ao topo"></a>
	</div>
	<script type="text/javascript">
	  $('#jsFloatButton').hide();
	  $(window).scroll(function () {
		  if ($(this).scrollTop() != 0) {
			  $('#jsFloatButton').fadeIn();
		  } else {
			  $('#jsFloatButton').fadeOut();
		  }
	  });
	</script>
}
  

<footer class="footer__rodape">  
	<div class="center"> 
	    <div class="footer__rodape-columns">
	        <div class="paginas">
	            <!-- Institucional -->
        		<section class="fbits-footer-blocos-vertical">
        			<ul class="blockfooter toggle">
        				<li class="titlefooter title-sobre-nos">Institucional</li>
        				<li class="linksfooter">
        					<a href="@(eCommerceURL)QuemSomos">Sobre nós</a>
        					<a href="@(eCommerceURL)PoliticadePrivacidade">Política de privacidade</a>
        					<a href="@(eCommerceURL)TrocaseDevolucoes">Trocas e devolu&ccedil;&otilde;es</a>
        					<a href="@(eCommerceURL)Entrega">Pagamento e entrega</a>
                            <a href="/blog">Blog</a>  
        				</li>				
        			</ul>
        		</section>
        		<!-- Serviços -->
        		<section class="fbits-footer-blocos-vertical">
        			<ul class="blockfooter toggle">
        				<li class="titlefooter title-ajuda-suporte">Serviços</li>
        				<li class="linksfooter">
        					<a href="@(eCommerceURL)Atendimento">Fale Conosco</a>
        					<a href="@string.Format( "{0}AtualizarDadosUsuario", G.UrlCarrinho )" class="fbits-link-minhaConta">Meus pedidos</a>
        					<a href="@string.Format( "{0}AtualizarDadosUsuario", G.UrlCarrinho )" class="fbits-link-minhaConta">Cadastro</a>
        				</li>
        			</ul>
        		</section>
        		<!-- Atendimento -->
        		<section class="fbits-footer-blocos-vertical">		
        			<ul class="blockfooter toggle">
        				<li class="titlefooter title-ajuda">Atendimento</li>
        				<li class="street"><span class="icon-street"></span>
        				    <span>Rua Viaza, 999 - Jardim Aeroporto,
        				    <br>São Paulo/SP - Brasil - CEP 04633-051</span>
    				    </li>
        				<li class="linksfooter">
        					<div class="contato-footer contato-fone">
        						<span class="icon-phone"></span><strong>@Html.Raw(G.Dados["Contato-TelefoneSAC"])</strong>
        					</div>
        					<div class="contato-footer contato-mail">
        						<span class="icon-mail"></span><strong>vendas@prolab.com.br</strong>
        					</div>
        					
        					<div class="contato-footer horario-atendimento">
        					    <span class="icon-clock"></span>
        						De segunda à sexta, das 9h às 18h.<br>
        						Exceto Feriados
        					</div>					
        				</li>
        			</ul>		
		</section>
	        </div>
	        <div class="pagamentos">
	            <!-- Formas de Pagamento -->
        		<section class="fbits-footer-blocos-horizontal clear">  
        			<ul class="blockfooter noborder bloco-formas-pagamento">
        				<li class="titlefooter title-formas-pagamento">Formas de Pagamento</li>
        				<li class="linksfooter li-formas-pgto">
        					<span class="icon-visa"></span>
        					<span class="icon-master"></span>
        					<span class="icon-diners"></span>
        					<span class="icon-amex"></span>
        					<span class="icon-elo"></span>
        					<span class="icon-hipercard"></span>
        					<span class="icon-paypal"></span>
        					<span class="icon-boleto"></span>
        					<span class="icon-bradesco"></span>
        				</li>
        			</ul>
        			<ul class="blockfooter noborder bloco-certificados">
        				<li class="titlefooter title-certificados">Certificados e Segurança</li>
        				<li class="linksfooter li-certificados">
        					<span class="selo">
        						<img alt="Wildcard SSL Certificates" border=0 id="ss_img" src="http://recursos.prolab.ecommercestore.com.br/c/RA1000.png" title="SSL Certificate">             
        					</span>
        					
        					<span class="selo">
        						<img alt="GOOGLE Certificates" border=0 id="ss_img" src="http://recursos.prolab.ecommercestore.com.br/c/google.png" title="Google Certificate">             
        					</span>
        				</li>
        			</ul>    
        		</section> 
	        </div>
	    </div>
	</div> 
	<div class="copyright-footer">
		<div class="center">  
			<section class="fbits-footer-blocos-horizontal clear">
				<ul class="blockfooter noborder endereço-footer">
					<address class="fbits-dadosEmpresa">
						<span class="razaoSocial" data-nome="Razão Social">@G.Dados["DadosEmpresa-RazaoSocial"]</span>
						<span class="cnpj" data-nome="CNPJ">@G.Dados["DadosEmpresa-CNPJ"]</span>
						<span class="InscricaoEstadual" data-nome="Inscrição Estadual">@G.Dados["DadosEmpresa-InscricaoEstadual"]</span>
						<span class="endereco" data-nome="Endereço">@G.Dados["DadosEmpresa-Endereco"]</span>
						<span class="bairro" data-nome="Bairro">@G.Dados["DadosEmpresa-Bairro"]</span>
						<span class="cidade" data-nome="Cidade">@G.Dados["DadosEmpresa-Cidade"]</span>
						<span class="estado" data-nome="Estado">@G.Dados["DadosEmpresa-Estado"]</span>
						<span class="cep" data-nome="CEP">@G.Dados["DadosEmpresa-CEP"]</span>        
					 </address>				
				</ul>
				<ul class="blockfooter noborder logo-fbits">
					<a target="_blank" href="https://www.traycorp.com.br/?utm_source=@(G.NomeEcommerce)-Loja&utm_medium=loja&utm_campaign=RodapeAdmin&utm_term=loja" title="Tray Corp by FBITS"><i class="fstore replace">Tray Corp by FBITS</i></a> 
				</ul>
				<ul class="blockfooter noborder copyright">					
					<p>&copy; <span class="copyright-direitos">Todos os direitos reservados.</span> Eventuais promoções, descontos e prazos de pagamento expostos aqui são válidos apenas para compras via internet. As fotos, textos e layout aqui veiculados são de propriedade da Loja. É proibida a utilização total ou parcial sem nossa autorização.</p>
				</ul> 
			</section>
		</div>
	</div>   
</footer>

<script>
$(".toggle .titlefooter").click(function(){
  $(this).next().toggle();
  $(this).toggleClass("opened");
});


var url = $(location).attr('href');
var res = url.split("=");
var nomeProduto = res[1].replace(/\+/g, ' ');
var qtdeBusca = $('.fbits-qtd-produtos-pagina').text();

/*if (qtdeBusca == '0') {
	$('.mostrando').append('<br><b>Pessoas que buscaram por <i>"' + nomeProduto +'"</i> também gostaram dos produtos abaixo:<b<br> ');
}*/

</script>


@Html.Partial("_ViewSwitcher")
@Zanox.InsertScript(Convert.ToBoolean(G.Dados["ZanoxAtivo"]))

@{Html.RenderAction("SelectGrupoScriptTag", "GrupoScriptTag", new { @posicao = EnumPosicaoScript.FooterBaixo });}