html
    & body 
        & .line
            @media screen and (max-width: 480px)
                max-width: 100%
                width: 100%
                display: flex
        & .title.big
            @media screen and (max-width: 480px)
                font-size: 16px !important
                max-width: 100%
                padding: 0
                & small 
                    font-size: 15px !important
        & .vitrine-produtos-container-rows
            margin-left: -15px
            margin-right: -15px
            height auto
            @media screen and (max-width: 480px)
                width: 100%
                margin: 0 auto
            & .vitrine-produtos-lista,
            & .fbits-item-lista-spot
                @media screen and (max-width: 480px)
                    width: 100%
                    margin: 0 5px !important
                & > span 
                    &[id*="fbits-grupo"]
                        display: flex !important
                        justify-content: flex-start !important
                        flex-wrap: wrap
                        @media screen and (min-width: 1024px)
                            height 880px !important
                            padding-bottom: 60px
                        @media screen and (max-width: 660px)
                            display: flex !important
                        & > div 
                            flex: 0 0 calc(20% - 13px)
                            margin: 0 6px !important
                            height: 440px !important
                            border: 0 !important
                            @media screen and (max-width: 480px)
                                 margin: 0 !important
                                 height auto !important
                                 flex 0 0 50%
                            &:hover 
                                box-shadow: none !important
                            & > div 
                                border: 1px solid #e1e1e1 !important;
                                &:hover 
                                    box-shadow: 0 0 10px rgba(0,0,0,0.22)
.showcase
    padding: 60px 0
    @media(max-width : 991px)
        padding: 40px 0
    @media(max-width : 599px)
        padding-bottom: 55px
    &__container
        max-width: 1330px
        padding: 0 15px
        width: 100%
        margin: 0 auto
    &__title
        font-size: 18px !important
        font-weight: 800 !important
        color: #020202 !important
        text-decoration: uppercase
        @media(max-width: 355px)
            font-size: 15px !important
    .line
        span 
            display: none
            width: 100%
            height 1px
            background-color: #d9d9d9
            margin-top: -12px
    &__list
        .fbits-item-lista-spot 
            .spot
                width: 100%
                max-width: 260px
                float: none
                margin: 0 auto
                padding: 0   
                border 1px solid #e1e1e1 !important
                &:hover
                    .botoesSpot
                        display: block
                        opacity 1
                        visibility visible
                & h3.spotTitle
                    color: #333333;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: initial
                .spotContent
                    padding: 0
                    transition: all 200ms ease
                    & .fbits-spot-conteudo
                        height auto
                        transition: all 200ms ease
                .fb-like
                    display: none
                .precoDe
                    color: #999999;
                    font-family: "Open Sans";
                    font-weight: 600;
                    text-decoration: line-through;
                .precoPor
                    font-family: "Open Sans";
                    font-size: 18px;
                    font-weight: 700;
                    color: #333333;
                .spotCategoria,
                .spotFab
                    display: none
                .botoesSpot
                    .bt.comprar
                        background-color: #4fb36b;
                        font-size: 0
                        background-image: none !important
                        &:hover
                            background-color: #38804C
                        &:before
                            content: ''
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJDYXBhXzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxNS41NTggNTE1LjU1OCIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTUuNTU4IDUxNS41NTgiIHdpZHRoPSI1MTIiPjxnPjxwYXRoIGQ9Im0zNzguMzQ0IDMzMi43OGMyNS4zNy0zNC42NDUgNDAuNTQ1LTc3LjIgNDAuNTQ1LTEyMy4zMzMgMC0xMTUuNDg0LTkzLjk2MS0yMDkuNDQ1LTIwOS40NDUtMjA5LjQ0NXMtMjA5LjQ0NCA5My45NjEtMjA5LjQ0NCAyMDkuNDQ1IDkzLjk2MSAyMDkuNDQ1IDIwOS40NDUgMjA5LjQ0NWM0Ni4xMzMgMCA4OC42OTItMTUuMTc3IDEyMy4zMzctNDAuNTQ3bDEzNy4yMTIgMTM3LjIxMiA0NS41NjQtNDUuNTY0YzAtLjAwMS0xMzcuMjE0LTEzNy4yMTMtMTM3LjIxNC0xMzcuMjEzem0tMTY4Ljg5OSAyMS42NjdjLTc5Ljk1OCAwLTE0NS02NS4wNDItMTQ1LTE0NXM2NS4wNDItMTQ1IDE0NS0xNDUgMTQ1IDY1LjA0MiAxNDUgMTQ1LTY1LjA0MyAxNDUtMTQ1IDE0NXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD48L2c+IDwvc3ZnPg==')
                            width: 14px
                            height 14px
                            background-repeat: no-repeat
                            background-size: contain
                            background-position: center
                            display: inline-block
                            margin-right: 5px
                            margin-bottom: -2px
                        &:after
                            color: #ffffff;
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            content: 'ver mais detalhes'
                    & .bt.adicionar
                        display: none
        .spot__request
            .spotPreco, .botoesSpot
                *
                    opacity 0
                    visibility hidden
            .spotPreco:before
                content: 'Preço sob consulta'
                display: block
                text-align: center
                border: 1px solid #CBCBCB
                font-size: 12px
                line-height: 24px
                color: #373535
                font-weight: bold
                height 24px
                max-width: 124px
                margin: 0 auto
                margin-top: 3px

        .etiquetas-spot
            top: 10px
            left -15px
            @media(max-width : 991px)
                left 0px
        .fbits-etiqueta-off
            background: #FF5D5D
            height 30px
            font-size: 12px
            color: #ffffff
            font-weight: 900
            line-height: 30px
            width: 60px
        .fbits-etiqueta-fretegratis
            height 20px
            background: #4AC87A
            width: 80px
            font-size: 10px
            color: #ffffff
            font-weight: 800
            line-height: 20px
            height 20px!important
            width: auto!important
            border-radius: 0

            &:before
                content: 'FRETE GRÁTIS'
                font-size: 10px
            img
                display: none!important
        .fbits-spot-conteudo
            height auto
            padding: 0 5px 5px 5px 
            margin-top 15px

        .spotPreco
            margin-top: 5px
        .spotPreco
            display flex !important
            align-items: center
            justify-content: center
            height: initial
            margin-bottom 40px
            .precoDe
                margin-right 10px
                color: $cor03 
            .precoPor 
                font-size: 18px
                font-weight bold
                color: $cor01
                &:before
                    display: none
        .precoDe
            font-size: 12px
            color: #ADADAD
            font-weight: regular
            line-height: 15px
            margin-bottom: 2px
        .precoParcela
            display: none
        .precoPor
            font-size: 20px
            color: $cor01
            font-weight: 800
            line-height: 23px
            &:before
                display: none
        .fbits-spot-preco-boleto-container
            font-size: 14px
            color: $cor02
            line-height: 18px
            font-weight: 600
            .fbits-spot-boleto-ou
                margin-right: 3px
                &:before
                    content: 'ou'
            .fbits-spot-boleto-off
                margin-left: 3px
                &:before
                    content: 'no boleto'
            .fbits-spot-boleto-valor
                font-size: 14px
                color: $cor02
                font-weight: 700
                line-height: 17px
        .spotImg
            img 
                width: auto!important
                max-width: 100%
                margin: 0 auto
                display: block
        .spotTitle
            font-size: 14px
            color: $cor02
            font-weight: 600
            line-height: 16px
            text-align: center
            text-transform: none
            height 50px
            overflow hidden
        .botoesSpot
            display: block
            opacity 0
            visibility: hidden
            height 40px
            overflow hidden
            @media(max-width : 991px)
                display: none
            &--spotIndisponivel
                height: auto
                padding: 10px 0
                font-size: 0.75rem
                color: #434343
                font-weight: bold
                line-height: 0.94rem
                text-align: center
                text-transform: uppercase
                input 
                    color: #434343
                    &#btnEnviarAviseMe
                        border: 1px solid #ddd
                        background: #ddd
                        height 2.5rem
                        cursor: pointer
                        transition: all .3s
                        &:hover
                            background: #ffffff
            

    .slick-next
        @media(max-width : 1360px)
            right 0
        @media(max-width : 991px) 
            top: 30%
    .slick-prev
        @media(max-width : 1360px)
            left 0
        @media(max-width : 991px) 
            top: 30%
    
    .slick-dots
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        li
            width: 10px
            height: 10px
            background: #E7E7E7
        .slick-active
            width: 14px
            height: 14px
            background: #FFF115


.spot .bt.comprar
    color: #fff
    background: $cor02
    font-size: 0 
    line-height: 40px!important
    text-align: center
    font-weight: 500
    height 40px!important
    float: none
    transition: all .3s
    width: 100%!important
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAMAAAC3SZ14AAABDlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v3yHCAAAAWnRSTlMAQMb99aUYPvqxUGPb2g3DtwEX8XH3s6YJIP90uh68a92RMH6/0ov2YR8DywxJj+8/mbsmMTmD1TsZautW/gRTBek6G4XTJDWbuQpKtaNlinrlc8WVkKqpwG0I50RoAAAAvElEQVQYGQXBMUoDYRQGwPn+fbuboJWICBYWoqBoK9hZeQVv6gFs04tVUqR3ITaiZONMgCRJfkHAmCRJdlBgkUxOEtDA8Dfx1XUgzkMyo7NXW82QxCFJ5jnZXyptjJ/lAc2sizLm8/bHmrs4fJxN2v13r3eMYZoGFw/aaDQejVi3ttb3qtdbgd0OFa2uegDoN89tW+8A0OnqOgCgVFUAQKmqAIC36tqmAQDLVjcBAF6SxekTAFg95jUAgPwDLCclWPh/hxYAAAAASUVORK5CYII=')!important
    background-repeat: no-repeat
    background-position: 95%
 
 

.spot .spotContent a
    text-decoration none

span[id^="fbits-grupo"], .fbits-componente-ofertasPorDepartamento, .row-vitrine-home.estatico.custom-list .center
    display block!important

.showcase__list.not-carousel
 > span 
    display: flex!important
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

    .showcase__item
        width 25%
        margin-bottom 20px

        @media(max-width: 991px)
            width 50%

.spot .spotPreco .precoDeVazio
    display none
section.showcase.instagram
 
    h1
        &:before 
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAMAAAA4Nk+sAAAAUVBMVEUAAADvOFDvOVHvMFDtOlLuOlLuOlPvOlDuOVLuOVLuOVLuOlLuOlPvOFLvOVLvOVPuOlPvOFTuOVPvOFPuOVPtOVPtOlLtOVPuOVPtOVLvOlJySMVuAAAAG3RSTlMAID8Qn+//MN/gwNDPYHBQsECvX/CggJC/j3+wTu5FAAAAxklEQVR4AV3PW3KsMAyE4dYRtC+MzZhjLsn+FxqVyVB2vrf+H1QlNPLvIfil08zOPCmM82SIj0B6Z3lhFHQk8gUkBkUnrxqY8GYaKimJb0QWwKRtnrf/cHVBYUSlWtSNzdYGCRJmZ02qqXKC+WRhFRiplC4fPNGcPIac0eQxt2WOIRd6hVHP0mUsvASQiwv6LIF8XWSQO3++1J1mV5jCaHnFrRTcVsuZF/6IzNDKLwxOVgVW0k/fj8nzPusWDoLDzaXjkVv8Af4eCx7xPwg2AAAAAElFTkSuQmCC')
            display: block
            width: 30px
            height: 24px
            background-repeat: no-repeat
            @media(max-width: 991px)
                display none
            
        strong  
            color $cor01
            font-weight: 800

            &:before
                content: '@'


.spotPreco 
    height: auto!important
    min-height: 40px
    display: flex
    align-items: center
    margin-bottom: 20px!important